* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background-color: rgb(71, 12, 12);
}
.heading1 {
  height: auto;
  color: rgb(180, 173, 70);
  font-style: oblique;
  position: relative;
  left: 500px;
}

.text-color {
  color: aliceblue;
}
.data {
  padding-right: 20px;
}
.show {
  margin-top: 40px;
  margin-left: 60px;
}
